fastapi
websockets
transformers
deepspeed==0.10.3
datasets[audio]
ngrok
pillow
accelerate
aiohttp
datasets
requests
uvicorn
pyttsx3
openai
faster-whisper
python-multipart
langchain_experimental
langchain
pygame
google-search-results
langchain_openai
sentence-transformers
langchain-chroma
langchain-huggingface
moviepy
aiofiles
open_interpreter